/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    float: left;
}


.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-50 {
    width: 50%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.p-10 {
    padding: 10px;
}

.text-right {
    text-align: right;
}



.btn {
    text-decoration: none;
}

.btn.btn-light {
    background-color: white;
    color: #23272a;
}

.btn.btn-blue {
    background-color: #0061ff;
    color: white;
}


.btn.btn-tiny {
    padding: 5px 15px;
}

/* Header */

/* topbar */
.topbar {
    background-color: white;
    width: 100%;
    height: 75px;
    padding: 0 25px;
    line-height: 75px;
    position: fixed;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

header .topbar ul {
    display: inline-block;
    margin: 0 50px;

}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 35px;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header ul li a:hover {
    text-decoration: underline;
}

/* Main */

/* jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    height: 100vh;
}

.jumbotron h1 {
    font-size: 66px;
    font-weight: 700;
    line-height: 86px;
    padding: 150px 0px 0px 10px;

}

.jumbotron p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-right: 15px;
}


.jumbotron .content {
    padding: 35px 0;
}

.jumbotron ul li {
    margin-bottom: 15px;
}

