/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    float: left;
}

.w-50 {
    width: 50%;
}

.text-right {
    text-align: right;
}



.btn {
    text-decoration: none;
}

.btn.btn-light {
    background-color: white;
    color: #23272a;
}

.btn.btn-blue {
    background-color: #0061ff;
    color: white;
}


.btn.btn-tiny {
    padding: 5px 15px;
}

/* Header */
.topbar {
    height: 75px;
    padding: 0 25px;
    line-height: 75px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

header ul {
    display: inline-block;
    margin: 0 50px;

}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 35px;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header ul li a:hover {
    text-decoration: underline;
}
