/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

/* Utilities */
.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.col {
    float: left;
}

/* Width */
.w-20 {
    width: 20%;
}

.w-30calc {
    width: calc(100% / 3 - 34px);
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

/* Height */
.h-300 {
    height: 300px;
}

.h-500 {
    height: 500px;
}
.h-600 {
    height: 600px;
}

/* Padding */
.p-10 {
    padding: 10px;
}

.p-50 {
    padding: 50px;
}

.p-70 {
    padding: 70px;
}

/* Margin */
.m-right-50 {
    margin-right: 50px;
}

.m-bot-30 {
    margin-bottom: 30px;
}
.m-bot-50 {
    margin-bottom: 50px;
}
.m-bot-10 {
    margin-bottom: 10px;
}

/* Text Align */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Buttons */
.btn {
    text-decoration: none;
    padding: 10px 15px;
}

.btn:hover {
    text-decoration: none;
    filter: brightness(1.5);
}

.btn.btn-light {
    background-color: white;
    color: #23272a;
    border: 1px solid black;
}

.btn.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn.btn-full {
    display: block;
}


/* Colors */
.light-green {
    background-color: #a2d39b;
}
.dark-red {
    background-color: #61082b;
}
.light-blue {
    background-color: #0093ce;
}
.light-red {
    background-color: #ff1c1c;
}
.red {
    background-color: #d5001f;
}
.gray-blue {
    background-color: #b4d0e7;
}
.blue {
    background-color: #0D2481;
}
.yellow {
    background-color: #FFD830;
}
.designit-gray {
    background-color: #f5f5f5;
}
.business-lightblue {
    background-color: #b4d0e7;
}
.black {
    background-color: black;
}



/* Header */

/* topbar */
.topbar {
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    box-shadow: 0 1px 2px #d0d0d0;
    width: 100%;
    height: 75px;
    padding: 0 25px;
    line-height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

header .topbar ul {
    display: inline-block;

}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 35px;
}

#begin-btn {
    display: inline;
}

header ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

header ul li a:hover {
}

/* Main */

/* jumbotron */
.jumbotron {
    margin-bottom: 170px;
    background-color: #b4d0e7;
    height: 730px;
}

.jumbotron h1 {
    font-size: 66px;
    font-weight: 900;
    line-height: 86px;
    padding: 150px 0px 0px 10px;

}

.jumbotron * {
    font-size: 15px;
}

.jumbotron p {
    font-weight: 600;
    margin-bottom: 50px;
    padding-right: 15px;
}


.jumbotron .content {
    padding: 35px 0;
}

.jumbotron ul li {
    margin-bottom: 15px;
}

.jumbotron #jumbo-arrow {
    display: block;
    margin-top: 30px;
}



/* Main */
/* radio */
#radio-line {
    margin-bottom: 30px;
    cursor: pointer;
}

.radio-full {
    margin-right: 15px;
}

.fake-radio {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 3px;
}

.fake-radio.selected {
    border: 3.5px solid blue;
}

.fake-radio.not-selected {
    border: 1.5px solid darkgray;
}


.well-header {
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #e2e2e4;
    text-align: center;
    padding: 7px;
}

.well-content {
    height: 870px;
    padding: 30px;
    border-right: 1px solid #e2e2e4;
    border-left: 1px solid #e2e2e4;
    border-bottom: 1px solid #e2e2e4;
}

.well-content.large{
    height: 150px;
}

.section-title {
    font-weight: 900;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
}


/* Well */
.well {
    margin-bottom: 50px;
    font-size: 13px;
}

/* Well Content*/
/* first section */
.well .well-content .well-content-section h3 {
    font-size: 23px;
}

.well .well-content .well-content-section .price {
    font-size: 15px;
    font-weight: bold;
}

.well .well-content .well-content-section .length {
    color: gray;
}

/* last section */





.well-content-section {
    margin-bottom: 50px;
}

.list-icon {
    float: left;
    width: 7%;
}

.blue-icon {
    filter: invert(26%) sepia(63%) saturate(6158%) hue-rotate(214deg) brightness(103%) contrast(106%);
}
.list-text {
    float: left;
    width: 93%;
}

.well-content-section h3 {
    font-weight: 800;
    font-size: 19px;
}

.well-content-section h4 {
    font-weight: 900;
    font-size: 14px;
}

.well-content-section span {
    display: block;
    margin: 10px 0;
}

.well-content-section ul {
    list-style-type: none;
}

.well-content-section ul li {
    margin: 15px 0;
}
/* Trial Section */
.well-content .trial {
    margin-bottom: 30px;
}

.well-content .trial *{
    margin: 15px 0;
}
.well-content .trial .btn {
    text-align: center;
    display: block;
}

.well-content .trial .blue-link {
    color: #0061ff;
}

.well-content hr {
    /* margin-top: -10px; */
    margin-bottom: 50px;
    width: 15%;
    height: 0.3px;
    border: 1px;
    background-color: gray;
}

/* Partner Section */

#partner {
    margin: 60px 0;
}

#partner h3 {
    font-weight: 700;
    font-size: 23px;
}

/* Features Section */


#features .row {
    margin-bottom: 75px;
}

#features h3 {
    line-height: 30px;
    font-weight: 900;
    font-size: 23px;
    margin-bottom: 15px;
}

/* Clients Section */
#clients a {
    color: #0061ff;
}

#clients .row {
    height: 250px;    
}

#clients .client-logo-box {
    cursor: pointer;
    width: 50%;
    height: 100%;
    position: relative;
    transition: 0.3s;
}

#clients .client-logo-box:hover {
    box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.3);
}

#clients hr {
    width: 10%;
    margin-bottom: 50px;
    background-color: #e3e3e4;
    border: 1px;
    height: 2px;
}

#clients .client-logo {
    filter: invert(1);
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#designit-logo {
    width: 190px;
    margin-bottom: 35px;
}

#clients p {
    margin-bottom: 35px;
}

/* Bring Dropbox into your Business section */
#bring-to-business {
    padding: 100px 0;
}

#bring-to-business h2{
    font-weight: 900;
    font-size: 35px;
    color: #61082b;
}


/* F.A.Q. */
#faq {
    margin: 150px 0;
}

#faq ul {
    list-style-type: none;
}

#faq ul li hr {
    margin: 30px 0;
    background-color: #e3e3e4;
    border: 1px;
    height: 1.5px;    
}

#faq ul li {
    cursor: pointer;
    margin-bottom: 30px;
    font-weight: 900;
    position: relative;
}


#faq .faq-arrow {
    position: absolute;
    right: 15px;
}


/* Footer */

footer {
    color: white;
    padding: 75px 0;
}

footer h5 {
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 30px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    font-size: 13px;
    margin-bottom: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer hr {
    height: 0.3px;
    width: 10%;
    margin: 50px 0;
    border: 1px solid white;
    background-color: white;
}

footer #language-selector {
    cursor: pointer;
    color: gray;
    font-size: 13px;
}

#lang-sort-up {
    position: relative;
    top: 3px;
}