/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

/* Utilities */
.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.col {
    float: left;
}

/* Width */
.w-30calc {
    width: calc(100% / 3 - 34px);
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

/* Height */

.h-600 {
    height: 600px;
}

/* Padding */
.p-10 {
    padding: 10px;
}

.p-50 {
    padding: 50px;
}

.p-70 {
    padding: 70px;
}

/* Margin */
.m-right-50 {
    margin-right: 50px;
}

.m-bot-30 {
    margin-bottom: 30px;
}
.m-bot-50 {
    margin-bottom: 50px;
}
.m-bot-10 {
    margin-bottom: 10px;
}

/* Text Align */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Buttons */
.btn {
    text-decoration: none;
    padding: 10px 15px;
}

.btn:hover {
    text-decoration: underline;
}

.btn.btn-light {
    background-color: white;
    color: #23272a;
    border: 1px solid black;
}

.btn.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn.btn-full {
    display: block;
}


/* client logo colors */
.light-green {
    background-color: #a2d39b;
}
.dark-red {
    background-color: #61082b;
}
.light-blue {
    background-color: #0093ce;
}
.light-red {
    background-color: #ff1c1c;
}
.red {
    background-color: #d5001f;
}
.gray-blue {
    background-color: #b4d0e7;
}
.blue {
    background-color: #0D2481;
}
.yellow {
    background-color: #FFD830;
}
.designit-gray {
    background-color: #f5f5f5;
}



/* Header */

/* topbar */
.topbar {
    background-color: white;
    width: 100%;
    height: 75px;
    padding: 0 25px;
    line-height: 75px;
    position: fixed;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

header .topbar ul {
    display: inline-block;
    margin: 0 50px;

}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 35px;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header ul li a:hover {
    text-decoration: underline;
}

/* Main */

/* jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    height: 730px;
}

.jumbotron h1 {
    font-size: 66px;
    font-weight: 700;
    line-height: 86px;
    padding: 150px 0px 0px 10px;

}

.jumbotron p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-right: 15px;
}


.jumbotron .content {
    padding: 35px 0;
}

.jumbotron ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.well-header {
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #e2e2e4;
    text-align: center;
    padding: 7px;
}

.well-content {
    height: 870px;
    padding: 30px;
    border-right: 1px solid #e2e2e4;
    border-left: 1px solid #e2e2e4;
    border-bottom: 1px solid #e2e2e4;
}

.well-content.large{
    height: 150px;
}

.section-title {
    font-size: 35px;
    margin-top: 190px;
    margin-bottom: 50px;
}


/* Well */
.well {
    margin-bottom: 50px;
    font-size: 13px;
}

/* Well Content*/
/* first section */
.well .well-content .well-content-section h3 {
    font-size: 23px;
}

.well .well-content .well-content-section .price {
    font-size: 15px;
    font-weight: bold;
}

.well .well-content .well-content-section .length {
    color: gray;
}

/* last section */





.well-content-section {
    margin-bottom: 50px;
}

.well-content-section h3 {
    font-weight: 800;
    font-size: 19px;
}

.well-content-section h4 {
    font-weight: 900;
    font-size: 14px;
}

.well-content-section span {
    display: block;
    margin: 10px 0;
}

.well-content-section ul {
    list-style-type: none;
}

.well-content-section ul li {
    margin: 15px 0;
}
/* Trial Section */
.well-content .trial {
    margin-bottom: 30px;
}

.well-content .trial *{
    margin: 15px 0;
}
.well-content .trial .btn {
    text-align: center;
    display: block;
}

.well-content .trial .blue-link {
    color: #0061ff;
}

.well-content hr {
    /* margin-top: -10px; */
    margin-bottom: 50px;
    width: 15%;
    height: 0.3px;
    border: 1px;
    background-color: gray;
}

/* Partner Section */

#partner {
    margin: 60px 0;
}

#partner h3 {
    font-weight: 700;
    font-size: 23px;
}

/* Features Section */
#features h2 {
    font-weight: 900;
    font-size: 39px;
    margin-bottom: 75px;
}

#features .row {
    margin-bottom: 75px;
}

#features h3 {
    line-height: 30px;
    font-weight: 900;
    font-size: 23px;
    margin-bottom: 15px;
}

/* Clients Section */

#clients h2 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;
}

#clients a {
    color: #0061ff;
}

#clients .client-logo-box {
    width: 300px;
    height: 300px;
    position: relative;
}

#clients hr {
    width: 10%;
    margin-bottom: 50px;
    background-color: #e3e3e4;
    border: 1px;
    height: 2px;
}

#clients .client-logo {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#designit-logo {
    width: 190px;
    margin-bottom: 35px;
}

#clients p {
    margin-bottom: 35px;
}